<!DOCTYPE html>
<html lang="<%= i18n.getLocale() %>">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/cstyle.css" rel="stylesheet">
    <script src="https://unpkg.com/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <link href="icons/css/boxicons.min.css" rel="stylesheet">
    <script src="icons/dist/boxicons.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        if (localStorage.getItem('color-theme')==='dark'||(!('color-theme' in localStorage)&&window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
        function changeLanguage(event) {
            const selectedLang=event.target.value;
            const currentUrl=window.location.origin+window.location.pathname;
            const searchParams=new URLSearchParams(window.location.search);

            // Update the 'lang' parameter
            searchParams.set('lang', selectedLang);

            // Redirect to the new URL
            window.location.href=currentUrl+'?'+searchParams.toString();
        }
    </script>
</head>

<body class="font-poppins">

    <div id="preloader" class="fixed inset-0 z-50 flex items-center justify-center bg-white dark:bg-black">
        <div class="animate-spin rounded-full h-14 w-14 border-t-4 border-blue-500 dark:border-purple-500"></div>
    </div>

    <aside id="sidebar-multi-level-sidebar"
        class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full lg:translate-x-0"
        aria-label="Sidebar">
        <div
            class="h-full px-3 py-4 overflow-y-auto bg-gradient-to-br from-[#F4F6F8] via-[#ECE9F9] via-70% to-[#F7E6F2] dark:from-[#171717] dark:via-[#23212B] dark:via-70% dark:to-[#2B2527] sm:border-gray-200 sm:dark:border-gray-800 sm:border-r-[1px]">
            <!-- Logo -->
            <a href="<%- tab=='dashboard'?'#':'/' %>">
                <div class="relative w-full h-[60px] flex flex-row gap-x-[8px]">
                    <div class="relative h-full w-[48px] flex-0">
                        <div
                            class="absolute w-[48px] h-[48px] bg-gradient-to-br from-[#6E40FF] to-[#3005AC] border-2 rounded-[16px] border-[#764DF6] vcenter flex items-center justify-center">
                            <img src="/light_bulb.png" class="h-[24px] w-[24px]">
                        </div>
                    </div>

                    <div class="relative h-[60px] w-auto flex-grow">
                        <p class="absolute font-semibold text-[36px] text-black dark:text-white top-0">LeKise</p>
                        <p class="absolute font-poppins font-normal text-[12px] text-black dark:text-white bottom-0">
                            Streetlight
                            control</p>
                    </div>
                </div>
            </a>

            <ul class="space-y-2 font-medium mt-[48px]">
                <li>
                    <a href="<%- tab=='dashboard'?'#':'/' %>"
                        class="w-full flex items-center p-2 rounded-lg group <%= isActiveRoute('/', currentRoute) %>">
                        <i
                            class='bx bxs-dashboard transition duration-75 text-gray-900  dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white'></i>
                        <span class="ms-3 font-poppins font-semibold">
                            <%= i18n.__('dashboard') %>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="<%- tab=='lamp'?'#':'/lamp' %>"
                        class="w-full flex items-center p-2 rounded-lg <%= isActiveRoute('/lamp', currentRoute) %> group">
                        <i
                            class='bx bxs-bolt transition duration-75 text-gray-900  dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white'></i>
                        <span class="ms-3 font-poppins font-semibold">
                            <%= i18n.__('lamp') %>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="<%- tab=='mapview'?'#':'/mapview' %>"
                        class="w-full flex items-center p-2 rounded-lg <%= isActiveRoute('/mapview', currentRoute) %> group">
                        <i
                            class='bx bx-map-alt transition duration-75 text-gray-900  dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white'></i>
                        <span class="ms-3 font-poppins font-semibold">
                            <%= i18n.__('map') %>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>


    <div
        class="w-full h-[64px] flex items-center justify-between bg-gradient-to-tr from-[#FFFFFF] via-[#ECE9F9] via-70% to-[#F7E6F2] dark:from-[#171717] dark:via-[#23212B] dark:via-70% dark:to-[#2B2527]">
        <button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar"
            aria-controls="sidebar-multi-level-sidebar" type="button"
            class="flex-0 items-center h-[42px] w-[42px] p-2 mt-2 ms-3 text-sm text-gray-500 bg-white dark:bg-black rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd" fill-rule="evenodd"
                    d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                </path>
            </svg>
        </button>


        <div class="flex-1 flex items-center justify-end px-6 space-x-4">

            <button id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName"
                class="flex items-center text-sm pe-1 font-medium text-gray-900 rounded-full hover:text-blue-600 dark:hover:text-purple-500 md:me-0 dark:text-white"
                type="button">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 me-2 rounded-full" src="/images/honey.jpg" alt="user photo">
                <%= store.username %>
                    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
            </button>

            <!-- Dropdown menu -->
            <div id="dropdownAvatarName"
                class="z-30 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                    <div class="font-medium ">
                        <% if (store.role==1) { %>
                            <%= i18n.__('admin') %>
                                <% }else{%>
                                    <%= i18n.__('member') %>
                                        <% } %>
                    </div>
                    <div class="truncate">
                        <%= store.email %>
                    </div>
                </div>
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">
                    <li>
                        <button id="theme-toggle" type="button"
                            class="w-full flex items-center justify-between  px-4 py-2 text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white">
                            <span>
                                <%= i18n.__('theme') %>
                            </span>
                            <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                            </svg>
                            <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                                    fill-rule="evenodd" clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <select onchange="changeLanguage(event)"
                            class="cursor-pointer block w-full px-4 py-2 text-sm text-gray-700 border border-white focus:border-white focus:ring-0  bg-gray-50 hover:bg-gray-100  dark:bg-gray-700 dark:border-gray-700 dark:focus:border-gray-700  dark:placeholder-gray-400 dark:text-white dark:hover:bg-gray-600">
                            <option value="th" <%=i18n.getLocale()==='th' ? 'selected' : '' %>>ไทย</option>
                            <option value="en" <%=i18n.getLocale()==='en' ? 'selected' : '' %>>English</option>
                        </select>
                    </li>
                </ul>
                <div class="py-2">
                    <a href="/api/logout"
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white">
                        <%= i18n.__('logout') %>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="h-[calc(100vh-64px)] p-4 lg:ml-64 flex flex-col dark:bg-black dark:text-white relative ">
        <% if (messages.success) { %>
            <div id="alertLogin" class="fixed flex items-center w-full max-w-xs p-4 space-x-4 text-white bg-green-400 rounded-lg shadow top-5 right-5 dark:text-white animate-fade-in-down transition-opacity duration-500 ease-out"
                role="alert">
                <span class="block sm:inline">
                    <%= messages.success %>
                </span>
                <button type="button" class="absolute top-0 bottom-0 right-0 px-4 py-3"
                    onclick="this.parentElement.style.display='none';">
                    <svg class="fill-current h-6 w-6 text-white dark:text-white" role="button"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <title>Close</title>
                        <path
                            d="M14.348 5.652a.5.5 0 00-.707 0L10 9.293 6.36 5.652a.5.5 0 10-.707.707L9.293 10l-3.64 3.64a.5.5 0 00.707.707L10 10.707l3.641 3.64a.5.5 0 00.707-.707L10.707 10l3.64-3.641a.5.5 0 000-.707z" />
                    </svg>
                </button>
            </div>
            <% } %>
                <%- body %>
    </div>

    <script>
        window.addEventListener('load', () => {
            const preloader=document.getElementById('preloader');
            preloader.classList.add('hidden');
            setTimeout(()=>{
                if(document.getElementById('alertLogin')){
                    document.getElementById('alertLogin').remove();
                }
            },2000);
        });
    </script>

    <script>
        var themeToggleDarkIcon=document.getElementById('theme-toggle-dark-icon');
        var themeToggleLightIcon=document.getElementById('theme-toggle-light-icon');

        if (localStorage.getItem('color-theme')==='dark'||(!('color-theme' in localStorage)&&window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            themeToggleLightIcon.classList.remove('hidden');
        } else {
            themeToggleDarkIcon.classList.remove('hidden');
        }

        var themeToggleBtn=document.getElementById('theme-toggle');

        themeToggleBtn.addEventListener('click', function () {

            // toggle icons inside button
            themeToggleDarkIcon.classList.toggle('hidden');
            themeToggleLightIcon.classList.toggle('hidden');

            // if set via local storage previously
            if (localStorage.getItem('color-theme')) {
                if (localStorage.getItem('color-theme')==='light') {
                    document.documentElement.classList.add('dark');
                    localStorage.setItem('color-theme', 'dark');
                } else {
                    document.documentElement.classList.remove('dark');
                    localStorage.setItem('color-theme', 'light');
                }

                // if NOT set via local storage previously
            } else {
                if (document.documentElement.classList.contains('dark')) {
                    document.documentElement.classList.remove('dark');
                    localStorage.setItem('color-theme', 'light');
                } else {
                    document.documentElement.classList.add('dark');
                    localStorage.setItem('color-theme', 'dark');
                }
            }

        });
    </script>

</body>

</html>